# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized

#Some of the popular languages that Data Scientists use are:
* Python
* R
* Java
* Scala
* SQL
* Julia
* Java Script

#Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* SciPy
* TensorFlow

| Data Science Tools |
| -------------|
| JupyterNotebook | 
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Tools used in Data Science
* Languages used in Data Science
* Libraies used in Data Science

## Author
Swathi R